<a href="{{ path('admin_librinfo_seedbatch_seedbatch_generateSeedBatchCode') }}" id="seedbatch-code-generator">
    {% trans %}librinfo.label.generate_seedbatch_code{% endtrans %}
</a>

<script>
    $(function(){
        $('#seedbatch-code-generator').click(function(){
            var url = $(this).attr('href') + '?uniqid=' + '{{ form.parent.vars.id|e('js') }}';
            var data = $(this).closest('form').serializeArray();
            $.post(url, data, function(res){
                console.log(res);
                if (res['error'] !== undefined)
                    alert(res['error']);
                else if (res['code'] !== undefined)
                    $('input#{{ form.parent.vars.id }}_code').val(res['code']);
            });
            return false;
        });
    });
</script>

